.nav-link:hover{
    font-size: 20px;
    font-weight:400;
}
footer{
    justify-content: center;
    margin-bottom:1rem;
}
footer h5{
    color: gray;
}
footer .list{
    color: gray;
}
footer span{
    color:darkturquoise;
}












/* Created by Pranav Sharma. */