.card-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100px;
}
.card-wrapper .card{
    text-align: center;
}

.card-wrapper .card img{
    margin-bottom: 2rem;
    margin-top: 4rem;
    width:3rem;
}
.card-wrapper .card h1{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.card-wrapper .card h6{
    font-size: 1rem;
    color:red;
}